<div id="launch-page">

  <img src="../../../assets/clear-green-only-64colors-2000px.png" id="fractal-background" />

  <main class="clear-fix">
    <a id="launch-fractal">
      <div id="fractal-title">Mandelbrot Fractal</div>
      <!--<div id="fractal-title">{{ 'PAGES.HOME.TITLE' | translate }}</div>-->
      <div id="launch-text" class="link">Launch Fractal</div>
    </a>
    <a
      id="credit-line"
      href="http://www.github.com"
      target="_blank"
    >App by <span class="link">Philip Bankier</span>
    </a>
  </main>

  <div id="launch-detailed-fractal">
    launch higher escape time fractal -
    <a id="448-escape-time" class="link">448</a>
    -
    <a id="896-escape-time" class="link">896</a>
    -
    <a id="1792-escape-time" class="link">1792</a>
    - slow!
  </div>
</div>

<div id="fractal-graphics">
  <canvas id="fractal-canvas"></canvas>
  <div id="loading-fractal">
    <div id="loading-frac-text">
      <div id="loading-frac-title">loading fractal...</div>
      <div id="zoom-in-info">click to zoom in</div>
      <div id="zoom-out-info">option-click to zoom out</div>
      <div id="reset-info">shift-click to reset</div>
      <div id="exit-info">esc key to exit</div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/fractal.js">fractal</script>
<script type="text/javascript" src="/app.js">app</script>
<script type="text/javascript">
  (function() {
    'use-strict';
    function startApp(){
      window.mandelbrotFractal.runningApp = new mandelbrotFractal.App();
      document.removeEventListener("DOMContentLoaded", startApp);
    }
    document.addEventListener("DOMContentLoaded", startApp);
  }())
</script>
